[submodule "Snail/vendor/spdlog"]
	path = Snail/vendor/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "Snail/vendor/GLAD"]
	path = Snail/vendor/GLAD
	url = https://github.com/Hanbly/glad-v3.3-cpp.git
[submodule "Snail/vendor/GLFW"]
	path = Snail/vendor/GLFW
	url = https://github.com/Hanbly/glfw.git
[submodule "Snail/vendor/Imgui"]
	path = Snail/vendor/Imgui
	url = https://github.com/Hanbly/imgui.git
	branch = docking
[submodule "Snail/vendor/GLM"]
	path = Snail/vendor/GLM
	url = https://github.com/Hanbly/glm.git
[submodule "Snail/vendor/Assimp"]
	path = Snail/vendor/Assimp
	url = https://github.com/Hanbly/assimp.git
[submodule "Snail/vendor/yaml-cpp"]
	path = Snail/vendor/yaml-cpp
	url = https://github.com/Hanbly/yaml-cpp.git
[submodule "Snail/vendor/boost-uuid"]
	path = Snail/vendor/boost-uuid
	url = https://github.com/Hanbly/uuid.git
