.vs/

# bin/ 忽略所有 bin 目录下的文件
# 只忽略根目录下的bin
/bin/ 

/bin-int/

.git commands.md
.notes/

/Example/*.json

# Visual Studio
*.sln
*.ncb
**/*.vcxproj
**/*.vcxproj.filters
**/*.vcxproj.user
*.VC.db
*.VC.db-shm
*.VC.db-wal
*.VC.opendb
*.ipch
.vs/
out/
CMakeSettings.json

# models
**/models/**/**/*.obj
**/models/**/*.mtl
**/models/**/*.png
**/models/**/*.jpg
**/models/**/*.jpeg
**/models/**/*.fbx
**/models/**/*.dae
**/models/**/*.blend

**/models/**/**/*.txt
